body {
  font-family: "Bricolage Grotesque", sans-serif;
  background-color: #ffff;
  color: #444;
}
/* .mainDiv {
  opacity: 100;
  /* background-color: #f3f3f3; */
/*
} */
.header {
  /* background-color: #ffff; */
  height: 50vh;
  box-shadow: 5px 5px 10px #cccccc;
}

#main-navbar .navbar-brand {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

#main-navbar .navbar-brand span:nth-of-type(1) {
  color: #f3f3f3;
}

#main-navbar {
  /* border-bottom: 1px solid #bdcdd6; */
}

#main-navbar #logout-btn {
  margin: 0 1em 0 0;
}

#main-navbar,
#logout-btn,
#txt_content button {
  border-radius: 2rem;
}

#logout-btn {
  background-color: #ff0060;
  border: none;
}

#main-navbar button,
.loginModal button:hover {
  background-color: #f24c3d;
  border: none;
}
.cards {
  margin-top: 1.5rem;
}

.dashboard .info-card {
  padding-bottom: 10px;
  border-radius: 1rem;
  font-size: 20px;
  font-weight: 500;
  color: #444;
  margin-top: 1rem;
}

.dashboard .info-card h6 {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.dashboard .deposit-card,
.withdrawal-card,
.balance-card {
  background-image: linear-gradient(to top left, #f7971e, #ffd200);
   /*background-color: rgba(255, 255, 255, 0.7); */
  /* background-color: #f29727; */
  border: none;
}

.user-card {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  color: #444;
}

#customer-name {
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
}

.items {
  margin-top: 2rem;
}
.items img {
  margin-bottom: 1rem;
}

.items p {
  /* color: #f3f3f3; */
  line-height: 1.5;
  color: black;
}

.items button {
  border: 1px solid #ffffff;
  border-radius: 30px;
}

.items button:hover {
  /* background-color: #f24c3d; */
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.5);
  color: white;
}

.show {
  display: block;
}
.hidden {
  display: none;
}
.btn--look {
  width: 100%;
  border-radius: 1rem;
  background-color: #1a5d1a;
  color: #ffffff;
  border: none;
}
.btn--look:hover {
  background-color: #1a5d1a;
}
.inputlook {
  border-radius: 1rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  text-align: center;
  color: #333;
  transition: all 0.3s;
}
.inputlook:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.featuresModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 80vh;
  /* background-color: white; */
  padding: 2rem 6rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  /* background-image: linear-gradient(to top left, #f7971e, #ffd200); */
  background-image: linear-gradient(to top left, #f7971e, #ffd200);
}

.Alltransactions,
.Alltransfers {
  width: 90%;
  overflow-y: scroll;
}


.btnClose {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 3rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

@media (max-width: 1000px) {
  .header {
    height: 100vh;
  }
  .items {
    margin-top: 0;
  }
  .items:first-of-type {
    margin-top: 5rem;
  }
  .loginModal {
    width: 95%;
  }
  .featuresModal {
    width: 95%;
    top: 59%;
    overflow-y: scroll;
  }
  .overlay {
    height: 100vh;
  }
   .user-card {
    /* height: 10vh; */
    display: none;
  }
  
   .footer {
    display: none;
  }
}

.dashboard .card-icon {
  font-size: 32px;
  line-height: 0;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  flex-grow: 0;
}

.cardlook {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 2rem;
  padding: 1rem 2rem;
}

.out{
	
}

.footer {
  color: #ffffff;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 40px;
  background-image: linear-gradient(to top left, #f94c10, #900c3f);
  text-align: center;
}

